Source: openjdk-18
Maintainer: Cryptobot <releases@cryptomator.org>
Section: contrib/java
Priority: optional
Build-Depends: debhelper (>=10), openjdk-17-jdk-headless, make, gcc, g++, libc6-dev, file, unzip, zip, autoconf, libx11-dev, libxext-dev, libxrender-dev, libxrandr-dev, libxtst-dev, libxt-dev, libcups2-dev, libfontconfig1-dev, libasound2-dev
Standards-Version: 4.5.0

Package: coffeelibs-jdk-18
Architecture: amd64 arm64
Multi-Arch: no
Depends: ${shlibs:Depends}, ${misc:Depends}, binutils
Provides: java-runtime-headless, java-sdk-headless, java-compiler
Breaks: openjdk-18-jdk-headless
Replaces: openjdk-18-jdk-headless
Description: OpenJDK Development Kit (JDK)
 OpenJDK is a development environment for building applications,
 applets, and components using the Java programming language.
